---
import Section from '../Section.astro';
import Tooltip from '../Tooltip.astro';
---

<Section id="education" title="Education">
  <h2>Education</h2>
  <ul>
    <li>
      <strong>
        <img src="/schools/berkeley-seal.png" alt="Berkeley Seal" class="school-badge" />
        University of California, Berkeley
      </strong>
      <span class="meta">2023&mdash;2027</span>
      <ul>
        <li>
          Bachelor's of Science,
          <Tooltip text="Also known as EECS">Electrical Engineering and Computer Science</Tooltip>.
        </li>
        <li>3.77 GPA (Eta Kappa Nu Honor Society).</li>
      </ul>
    </li>

    <li>
      <strong>
        <img src="/schools/theresidency.svg" alt="The Residency Logo" class="school-badge" />
        The Residency
      </strong>
      <span class="meta">Summer 2024</span>
      <ul>
        <li>Startup incubator program for ambitious students.</li>
        <li>Stayed at Arcadia House in Berkeley, CA.</li>
      </ul>
    </li>

    <li>
      <strong>
        <img src="/schools/stanford.png" alt="Stanford University" class="school-badge" />
        Stanford University
      </strong>
      <span class="meta">Summer 2022</span>
      <ul>
        <li>Stanford Summer Session.</li>
        <li>4.11 GPA.</li>
      </ul>
    </li>

    <li>
      <strong>
        <img src="/schools/moorpark-college.png" alt="Moorpark College Seal" class="school-badge" />
        Moorpark College
      </strong>
      <span class="meta">Dual Enrollment, 2019&mdash;2023</span>
      <ul>
        <li>Honors (Top 25% GPA).</li>
      </ul>
    </li>
  </ul>
</Section>

