---
import Section from '../Section.astro';
import Citation from '../Citation.astro';
---

<Section id="research" title="Research">
  <h2>Research</h2>
  <ul>
    <li>LLM misalignment with Professor Phan Xuan Tan.</li>
    <li>LLM Routing with Professor Ebrahim Bagheri.</li>

    <li>
      LLM-guided program synthesis at BAIR<Citation
        href="https://bair.berkeley.edu/"
        tooltip="Berkeley AI Research"
        ariaLabel="Berkeley AI Research"
      />
      under Matteo Guarrera<Citation
        href="https://matteoguarrera.github.io/"
        tooltip="Matteo Guarrera's Website"
        ariaLabel="Matteo Guarrera"
      />
      &amp; Carlo Bosio<Citation
        href="https://carlobosio.github.io/"
        tooltip="Carlo Bosio's Website"
        ariaLabel="Carlo Bosio"
      />.
      <ul>
        <li>Won the EECS Evergreen Undergraduate Research Award for this work.</li>
      </ul>
    </li>

    <li>
      Computationally verifying Berry-Esseen rates for sparse random d-regular graphs.<Citation
        href="https://github.com/talkierbox/berry-esseen-universality-bounds"
        tooltip="GitHub Repository"
        ariaLabel="Berry-Esseen repository"
      />
      <ul>
        <li>
          In collaboration with Leo Nagel<Citation
            href="https://lnagel.net"
            tooltip="Leo Nagel's Website"
            ariaLabel="Leo Nagel"
          />.
        </li>
      </ul>
    </li>

    <li>Multihorizon timeseries forecasting via deep learning and attention.</li>
    <li>Physics-informed neural networks for PDE solvers.</li>

    <li>
      Neural circuits &amp; decision-making at the Wilbrecht Lab<Citation
        href="https://wilbrecht.org/"
        tooltip="Wilbrecht Lab Website"
        ariaLabel="Wilbrecht Lab"
      />
      under Albert Qu<Citation
        href="https://scholar.google.com/citations?user=MIPvbk8AAAAJ&hl=en"
        tooltip="Albert Qu's Google Scholar"
        ariaLabel="Albert Qu"
      />.
    </li>
  </ul>
</Section>

